.Friend {
    height: 4rem;
    width: 25rem;
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
    font-size: 2.4rem;
    margin: 2rem auto;
}
.FriendsListWrapper {
    margin-top: 3rem;
}

.FriendsListWrapper h2 {
    font-size: 3rem;
}
.PickFriendToUpdateButton {
    font-size: 1rem;
    float: right;
    padding: 3px;
    text-transform: lowercase;
    border: 1px solid rgb(40, 197, 79);
    background-color: rgb(40, 197, 79);
    border-radius: 5px;
    color: white;
}
.PickFriendToUpdateButton:hover {
    background-color: rgb(30, 150, 60);
    cursor: pointer;
} 
.CancelPickButton {
    font-size: 1rem;
    float: right;
    padding: 3px;
    text-transform: lowercase;
    border: 1px solid rgb(196, 67, 67);
    background-color: rgb(196, 67, 67);
    border-radius: 5px;
    color: white;
}
.CancelPickButton:hover {
    background-color: rgb(150, 50, 50);
    cursor: pointer;
} 
.DeleteFriendButton {
    float:right;
    padding: 2px 2px 2px 3px;
    height: 1.6rem;
    width: 1.6rem;
    margin-top: 1px;
    font-size: 1rem;
    background-color: darkred;
    border: 1px solid darkred;
    color: white;
    margin-left: 2px;
    border-radius: 50%;
}
.DeleteFriendButton:hover {
    background-color: rgb(99, 0, 0);
    cursor: pointer;
}