.Friend {
    text-align: center;
    font-size: 2.4rem;
    display: inline-block;
    width: 90%;
    padding-bottom: 4px;
}
.Friend:hover {
    cursor: pointer;
 }
.FriendsListWrapper {
    margin-top: 3rem;
}

.FriendsListWrapper h2 {
    font-size: 3rem;
}
.FriendWrapper {
    height: 4rem; /*Use 4rem for close and 8rem for open*/
    width: 30rem;
    margin: 2rem auto;
    border: 1px solid #ccc;
    padding: 1rem;
    position: relative;
}
.FurtherDetail {
    font-size: 1.6rem;
    text-align-last: left;
    line-height: 1.2;
}

.PickFriendToUpdateButton {
    z-index: 2;
    position: absolute;
    right: 25px;
    font-size: 1rem;
    float: right;
    padding: 3px;
    text-transform: lowercase;
    border: 1px solid rgb(40, 197, 79);
    background-color: rgb(40, 197, 79);
    border-radius: 5px;
    color: white;
}
.PickFriendToUpdateButton:hover {
    background-color: rgb(30, 150, 60);
    cursor: pointer;
} 
.CancelPickButton {
    z-index: 2;
    position: absolute;
    right: 25px;
    font-size: 1rem;
    float: right;
    padding: 3px;
    text-transform: lowercase;
    border: 1px solid rgb(196, 67, 67);
    background-color: rgb(196, 67, 67);
    border-radius: 5px;
    color: white;
}
.CancelPickButton:hover {
    background-color: rgb(150, 50, 50);
    cursor: pointer;
} 
.DeleteFriendButton {
    position: absolute;
    float:right;
    padding: 2px 2px 2px 3px;
    height: 1.6rem;
    width: 1.6rem;
    margin-top: 1px;
    font-size: 1rem;
    background-color: darkred;
    border: 1px solid darkred;
    color: white;
    margin-left: 2px;
    border-radius: 50%;
}
.DeleteFriendButton:hover {
    background-color: rgb(99, 0, 0);
    cursor: pointer;
}

.AddButton {
    margin-top: 1rem;
    height: 3.5rem;
    width: 14rem;
    background-color: rgb(32, 112, 204);
    color: white;
    border: 1px solid rgb(32, 112, 204);
    border-radius: 3px;
    font-size: 1.6rem;
}

.FriendWrapper.ShowDetails {
    height: 8rem;
    transition: all .3s;
}

.FriendWrapper.ShowDetails > .Friend {
    border-bottom: 1px solid #000;
}
.FriendWrapper > .FurtherDetail {
    opacity: 0;
}
.FriendWrapper.ShowDetails > .FurtherDetail {
    transition: all .8s;
    opacity: 1;
}